{
  "openapi": "3.0.0",
  "info": {
    "title": "TollBit API",
    "version": "v2",
    "description": "TollBit is the web stack for the agentic internet: publishers analyze, control, and monetize AI agent access to their content. This API lets developers and AI agents discover licensable content (Licensed Search), fetch rates and license options, mint one-time signed access tokens, retrieve licensed or indexed content, self-report usage, and list a property's content catalog. Reconstructed by API Evangelist from TollBit's published per-operation OpenAPI fragments (docs.tollbit.com/reference).",
    "contact": {
      "name": "TollBit",
      "email": "team@tollbit.com",
      "url": "https://tollbit.com"
    },
    "x-apievangelist": {
      "generated": "2026-07-21",
      "method": "searched",
      "source": "https://docs.tollbit.com/reference (per-operation OpenAPI fragments merged; llms.txt index)",
      "note": "Reconstructed from TollBit's published per-operation OpenAPI 3.0 fragments. Only real /dev/* and subdomain endpoints included; a foreign ReadMe sample spec present on two reference pages was excluded."
    }
  },
  "servers": [
    {
      "url": "https://gateway.tollbit.com",
      "description": "Production API gateway"
    }
  ],
  "tags": [
    {
      "name": "Auth Tokens"
    },
    {
      "name": "Get Catalog of Pages for Property"
    },
    {
      "name": "Get Tollbit Content"
    },
    {
      "name": "Get Tollbit Rates"
    },
    {
      "name": "Report Content Usage"
    },
    {
      "name": "Reporting"
    },
    {
      "name": "Search"
    },
    {
      "name": "Search Content"
    },
    {
      "name": "Tollbit Content"
    },
    {
      "name": "Tollbit Subdomain"
    },
    {
      "description": "A collection is a repayment record by the merchant. Each repayment is used to pay down a specific financing.",
      "name": "collections"
    },
    {
      "description": "A financing represents the conditions of a financial agreement between a merchant and R2. A financing is instantiated once a merchant is approved upon a successful KYC process, a contract is signed by both parties, and funds are successfully disbursed to a merchant's bank account.",
      "name": "financings"
    },
    {
      "description": "A merchant is a business that sells electronically in your platform. A merchant is the entity that R2 evaluates from a risk standpoint and provides capital to, should the merchant be preapproved and interested in receiving a financing.",
      "name": "merchants"
    },
    {
      "description": "A transaction is an instance of an individual sale or order generated by a merchant via its processing platform.",
      "name": "transactions"
    }
  ],
  "paths": {
    "/dev/v1/webhook/history": {
      "get": {
        "operationId": "getWebhookHistory",
        "summary": "Get History",
        "description": "Get the history of webhooks within an optional lookback window, including\nspecific content URLs and last attempted delivery time and status.\n",
        "security": [
          {
            "TollbitKey": []
          }
        ],
        "parameters": [
          {
            "name": "next-token",
            "in": "query",
            "required": false,
            "description": "Optional pagination token. Response includes a token to retrieve the next page if available.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page. Default 25. Max 1000.",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 1000
            }
          },
          {
            "name": "days-ago",
            "in": "query",
            "required": false,
            "description": "Number of days back from current date to retrieve webhook history.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dev/v2/content/{contentUrl}": {
      "get": {
        "operationId": "ContentService_getContent",
        "parameters": [
          {
            "name": "contentUrl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Tollbit Content",
          "Get Tollbit Content"
        ],
        "security": [
          {
            "ApiKeyAuth_": []
          }
        ]
      }
    },
    "/dev/v2/content/{propertyDomain}/catalog/list": {
      "get": {
        "operationId": "ContentService_getCatalog",
        "parameters": [
          {
            "name": "propertyDomain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "explode": false
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Tollbit Content",
          "Get Catalog of Pages for Property"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dev/v2/rates/batch": {
      "post": {
        "operationId": "ContentService_batchGetRates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchRateResponseV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Tollbit Content",
          "Get Tollbit Rates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGetRateRequest"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dev/v2/rates/{contentUrl}": {
      "get": {
        "operationId": "ContentService_getRates",
        "parameters": [
          {
            "name": "contentUrl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeveloperRateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Tollbit Content",
          "Get Tollbit Rates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dev/v2/search": {
      "get": {
        "operationId": "SearchService_search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "explode": false
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of results to return. Maximum value is 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "explode": false
          },
          {
            "name": "next-token",
            "in": "query",
            "required": false,
            "description": "Token for pagination. If provided, continues from the encoded page. If not provided, returns first page.",
            "schema": {
              "type": "string"
            },
            "explode": false
          },
          {
            "name": "properties",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of domains (max 20) to boost in search results. When provided, generates a custom goggle string.",
            "schema": {
              "type": "string"
            },
            "explode": false
          },
          {
            "name": "allowedOnly",
            "in": "query",
            "required": false,
            "description": "When true, restrict search to properties the calling org is allowed to access.\nIntersects with `properties` when both are provided.\nCurrently mirrors `readyToLicense`; will be expanded to broader allowlist semantics later.",
            "schema": {
              "type": "boolean"
            },
            "explode": false
          },
          {
            "name": "readyToLicense",
            "in": "query",
            "required": false,
            "description": "When true, restrict search to properties ready to license (rates-enabled / content-catalog path). Intersects with `properties` when both are provided. Currently equivalent to `allowedOnly`.",
            "schema": {
              "type": "boolean"
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Search",
          "Search Content"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dev/v2/tokens/aos": {
      "post": {
        "operationId": "TokensService_createAOSAccessToken",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAOSAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Auth Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAOSAccessTokenRequest"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dev/v2/tokens/content": {
      "post": {
        "operationId": "TokensService_createContentAccessToken",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubdomainAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Auth Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubdomainAccessTokenRequest"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dev/v2/tokens/crawl": {
      "post": {
        "operationId": "TokensService_createCrawlAccessToken",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrawlAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Auth Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrawlAccessTokenRequest"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/dev/v2/transactions/selfReport": {
      "post": {
        "operationId": "ReportingService_reportContentUsage",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfReportContentUsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Reporting",
          "Report Content Usage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfReportContentUsageRequest"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/{path}": {
      "get": {
        "operationId": "TollbitSubdomain_getContent",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TollBit.Apis.GetContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TollBit.Apis.ProblemJSON"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TollBit.Apis.ProblemJSON"
                }
              }
            }
          },
          "403": {
            "description": "Access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TollBit.Apis.ProblemJSON"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TollBit.Apis.ProblemJSON"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TollBit.Apis.ProblemJSON"
                }
              }
            }
          }
        },
        "tags": [
          "Tollbit Subdomain"
        ],
        "security": [
          {
            "SubdomainAccessToken": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Availability": {
        "type": "object",
        "required": [
          "discoverable",
          "readyToLicense"
        ],
        "properties": {
          "discoverable": {
            "type": "boolean"
          },
          "readyToLicense": {
            "type": "boolean"
          }
        }
      },
      "BatchDeveloperRateResponse": {
        "type": "object",
        "required": [
          "price",
          "license",
          "error"
        ],
        "properties": {
          "price": {
            "$ref": "#/components/schemas/RatePriceResponse"
          },
          "license": {
            "$ref": "#/components/schemas/BatchRateLicenseResponse"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "BatchGetRateRequest": {
        "type": "object",
        "required": [
          "urls"
        ],
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BatchRateLicenseResponse": {
        "type": "object",
        "required": [
          "cuid",
          "licenseType",
          "licensePath",
          "permissions",
          "validUntil"
        ],
        "properties": {
          "cuid": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "licensePath": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RateLicensePermission"
            }
          },
          "validUntil": {
            "type": "string"
          }
        }
      },
      "BatchRateResponseV2": {
        "type": "object",
        "required": [
          "url",
          "rates"
        ],
        "properties": {
          "url": {
            "type": "string"
          },
          "rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchDeveloperRateResponse"
            }
          }
        }
      },
      "CatalogResponse": {
        "type": "object",
        "required": [
          "pages"
        ],
        "properties": {
          "pageToken": {
            "type": "string"
          },
          "pages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyPage"
            }
          }
        }
      },
      "ContentMetadata": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "published": {
            "type": "string"
          },
          "modified": {
            "type": "string"
          }
        }
      },
      "ContentRate": {
        "type": "object",
        "required": [
          "price",
          "license"
        ],
        "properties": {
          "price": {
            "$ref": "#/components/schemas/RatePrice"
          },
          "license": {
            "$ref": "#/components/schemas/RateLicenseResponse"
          }
        }
      },
      "CreateAOSAccessTokenRequest": {
        "type": "object",
        "required": [
          "url",
          "userAgent"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "userAgent": {
            "type": "string"
          }
        }
      },
      "CreateAOSAccessTokenResponse": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "CreateCrawlAccessTokenRequest": {
        "type": "object",
        "required": [
          "url",
          "userAgent"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "userAgent": {
            "type": "string"
          }
        }
      },
      "CreateCrawlAccessTokenResponse": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "CreateSubdomainAccessTokenRequest": {
        "type": "object",
        "required": [
          "url",
          "userAgent",
          "maxPriceMicros",
          "currency",
          "licenseType",
          "licenseCuid"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "userAgent": {
            "type": "string"
          },
          "maxPriceMicros": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "licenseCuid": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "html",
              "markdown"
            ]
          }
        }
      },
      "CreateSubdomainAccessTokenResponse": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "DeveloperRateResponse": {
        "type": "object",
        "required": [
          "price",
          "license"
        ],
        "properties": {
          "price": {
            "$ref": "#/components/schemas/RatePrice"
          },
          "license": {
            "$ref": "#/components/schemas/RateLicenseResponse"
          }
        }
      },
      "GetContentResponse": {
        "type": "object",
        "required": [
          "content",
          "metadata"
        ],
        "properties": {
          "content": {
            "$ref": "#/components/schemas/PageContent"
          },
          "metadata": {
            "$ref": "#/components/schemas/ContentMetadata"
          },
          "rate": {
            "$ref": "#/components/schemas/ContentRate"
          }
        }
      },
      "PageContent": {
        "type": "object",
        "required": [
          "header",
          "body",
          "footer"
        ],
        "properties": {
          "header": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "footer": {
            "type": "string"
          }
        }
      },
      "PagedSearchResultResponse": {
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "required": [
              "nextToken",
              "items"
            ],
            "properties": {
              "nextToken": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        ]
      },
      "ProblemJSON": {
        "type": "object",
        "required": [
          "type",
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": {}
      },
      "PropertyPage": {
        "type": "object",
        "required": [
          "propertyId",
          "pageUrl"
        ],
        "properties": {
          "propertyId": {
            "type": "string"
          },
          "pageUrl": {
            "type": "string"
          },
          "lastMod": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Publisher": {
        "type": "object",
        "required": [
          "domain",
          "name"
        ],
        "properties": {
          "domain": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RateLicensePermission": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "RateLicenseResponse": {
        "type": "object",
        "required": [
          "id",
          "licenseType",
          "licensePath",
          "permissions"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "licensePath": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RateLicensePermission"
            }
          }
        }
      },
      "RatePrice": {
        "type": "object",
        "required": [
          "priceMicros",
          "currency"
        ],
        "properties": {
          "priceMicros": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "RatePriceResponse": {
        "type": "object",
        "required": [
          "priceMicros",
          "currency"
        ],
        "properties": {
          "priceMicros": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "required": [
          "title",
          "url",
          "publishedDate",
          "publisher",
          "availability"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "publishedDate": {
            "type": "string"
          },
          "publisher": {
            "$ref": "#/components/schemas/Publisher"
          },
          "availability": {
            "$ref": "#/components/schemas/Availability"
          }
        }
      },
      "SelfReportContentUsageRequest": {
        "type": "object",
        "required": [
          "idempotencyId",
          "usage"
        ],
        "properties": {
          "idempotencyId": {
            "type": "string"
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelfReportUsage"
            }
          }
        }
      },
      "SelfReportContentUsageResponse": {
        "type": "object",
        "required": [
          "receipts"
        ],
        "properties": {
          "receipts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelfReportUsageReceipt"
            }
          }
        }
      },
      "SelfReportLicensePermission": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "SelfReportUsage": {
        "type": "object",
        "required": [
          "url",
          "timesUsed",
          "licensePermissions",
          "licenseType"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "timesUsed": {
            "type": "integer",
            "format": "int32"
          },
          "licensePermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelfReportLicensePermission"
            }
          },
          "licenseId": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "SelfReportUsageReceipt": {
        "type": "object",
        "required": [
          "url",
          "perUnitPriceMicros",
          "totalUsePriceMicros",
          "currency",
          "license"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "perUnitPriceMicros": {
            "type": "integer",
            "format": "int64"
          },
          "totalUsePriceMicros": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          },
          "license": {
            "$ref": "#/components/schemas/RateLicenseResponse"
          }
        }
      },
      "TollBit.Apis.ContentMetadata": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "published": {
            "type": "string"
          },
          "modified": {
            "type": "string"
          }
        }
      },
      "TollBit.Apis.ContentRate": {
        "type": "object",
        "required": [
          "price",
          "license"
        ],
        "properties": {
          "price": {
            "$ref": "#/components/schemas/TollBit.Apis.RatePrice"
          },
          "license": {
            "$ref": "#/components/schemas/TollBit.Apis.RateLicenseResponse"
          }
        }
      },
      "TollBit.Apis.GetContentResponse": {
        "type": "object",
        "required": [
          "content",
          "metadata"
        ],
        "properties": {
          "content": {
            "$ref": "#/components/schemas/TollBit.Apis.PageContent"
          },
          "metadata": {
            "$ref": "#/components/schemas/TollBit.Apis.ContentMetadata"
          },
          "rate": {
            "$ref": "#/components/schemas/TollBit.Apis.ContentRate"
          }
        }
      },
      "TollBit.Apis.PageContent": {
        "type": "object",
        "required": [
          "header",
          "body",
          "footer"
        ],
        "properties": {
          "header": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "footer": {
            "type": "string"
          }
        }
      },
      "TollBit.Apis.ProblemJSON": {
        "type": "object",
        "required": [
          "type",
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": {}
      },
      "TollBit.Apis.RateLicensePermission": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "TollBit.Apis.RateLicenseResponse": {
        "type": "object",
        "required": [
          "id",
          "licenseType",
          "licensePath",
          "permissions"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "licensePath": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TollBit.Apis.RateLicensePermission"
            }
          }
        }
      },
      "TollBit.Apis.RatePrice": {
        "type": "object",
        "required": [
          "priceMicros",
          "currency"
        ],
        "properties": {
          "priceMicros": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "WebhookHistoryItem": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "ID of the Subscription linking recipient org to the publisher."
          },
          "contentUrl": {
            "type": "string",
            "description": "URL to the content that was updated (e.g. a Time.com URL)."
          },
          "deliveryUrl": {
            "type": "string",
            "description": "URL that TollBit attempted to send this webhook to."
          },
          "eventType": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE"
            ],
            "description": "Event type (CREATE or UPDATE)."
          },
          "lastAttempt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp in UTC of the last attempt to send the webhook to deliveryUrl."
          },
          "lastStatus": {
            "type": "integer",
            "description": "HTTP status code of the last attempt."
          },
          "numAttempts": {
            "type": "integer",
            "description": "Number of delivery attempts."
          }
        }
      },
      "WebhookHistoryResponse": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "description": "Array of webhook delivery records.",
            "items": {
              "$ref": "#/components/schemas/WebhookHistoryItem"
            }
          },
          "nextToken": {
            "type": "string",
            "description": "Optional continuation token if there are more results."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "TollbitKey"
      },
      "ApiKeyAuth_": {
        "type": "apiKey",
        "in": "header",
        "name": "Tollbit-Token"
      },
      "TollbitKey": {
        "type": "apiKey",
        "in": "header",
        "name": "TollbitKey",
        "description": "Your API key which can be found in the access page of the dashboard."
      },
      "SubdomainAccessToken": {
        "type": "http",
        "scheme": "Bearer",
        "description": "To access content on a TollBit subdomain, you will need an access token. This token is a JWT that is signed by TollBit and includes information about the subdomain and the permissions granted to the token.\n\nYou can obtain the token by calling the TokensService to create a Content Access Token. Once you have the token, you can include it in the Authorization header of your requests to the subdomain."
      }
    }
  }
}